@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.section {
  @apply my-10;
}

.section__title {
  @apply text-center py-8 text-3xl;
}

.section__description {
  @apply w-3/4 m-auto text-xs sm:text-sm md:text-base text-gray-600;
}

.section__products {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 gap-y-6;
}

.collections {
  @apply flex flex-col sm:flex-row gap-1 sm:gap-10 pt-10 border-t;
}

.collections__filter {
  @apply min-w-60;
}

.filter__text {
  @apply my-2 text-xl flex items-center cursor-pointer gap-2;
}

.filter__icon {
  @apply h-3 sm:hidden;
}

.filter__category {
  @apply border border-gray-300 pl-5 py-3 mt-6;
}

.category__title {
  @apply mb-3 text-sm font-medium;
}

/* About CSS styles */

.about {
  @apply text-2xl text-center pt-8 border-t;
}

.resume {
  @apply my-10 flex flex-col md:flex-row gap-16;
}
.resume__img {
  @apply w-full md:max-w-[450px];
}
.resume__text {
  @apply flex flex-col justify-center gap-6 md:w-2/4 text-gray-600;
}
.text__mission {
  @apply text-gray-800;
}
.titlewhy {
  @apply text-4xl py-4;
}
.whychooseus {
  @apply flex flex-col md:flex-row text-sm mb-20;
}
.whychooseus__item {
  @apply border px-10 md:px-16 py-8 sm:py-20 flex flex-col gap-5;
}
.item__text {
  @apply text-gray-600;
}

/* Cart CSS styles */
.cart {
  @apply border-t pt-14;
}
.cart__title {
  @apply text-2xl mb-3;
}
.cart__order {
  @apply py-4 border-t border-b text-gray-700 grid grid-cols-[4fr_0.5fr_0.5fr] sm:grid-cols-[4fr_2fr_0.5fr] items-center gap-4;
}
.order__data {
  @apply flex items-start gap-6;
}
.data__image {
  @apply w-16 sm:w-20;
}
.data__name {
  @apply text-xs sm:text-lg font-medium;
}
.data__price {
  @apply flex items-center gap-5 mt-2;
}
.data__size {
  @apply px-2 sm:px-3 sm:py-1 border bg-slate-50;
}
.data__quantity {
  @apply border max-w-10 sm:max-w-20 px-1 sm:px-2 py-1;
}
.data__delete {
  @apply w-4 mr-4 sm:w-5 cursor-pointer;
}
.cart__checkout {
  @apply flex justify-end my-20;
}
.checkout__box {
  @apply w-full sm:w-[450px];
}
.box__item {
  @apply w-full text-end;
}
.item__button {
  @apply bg-black text-white text-sm my-8 px-8 py-3;
}

/* Collections CSS styles */

.category__list {
  @apply flex flex-col gap-2 text-sm font-light text-gray-700;
}
.list__item {
  @apply flex gap-2;
}
.filter__subcategory {
  @apply border border-gray-300 pl-5 py-3 mt-6;
}
.subcategory__title {
  @apply mb-3 text-sm font-medium;
}
.subcategory__list {
  @apply flex flex-col gap-2 text-sm font-light text-gray-700;
}
.list__item {
  @apply flex gap-2;
}
.collections__products {
  @apply flex-1;
}
.products__top {
  @apply flex justify-between text-base sm:text-2xl mb-4;
}
.top__sort {
  @apply border-2 border-gray-300 text-sm px-2;
}
.products__item {
  @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 gap-y-6;
}
/* Contact CSS styles */
.contacttitle {
  @apply text-center text-2xl pt-10 border-t;
}
.contact {
  @apply my-10 flex flex-col justify-center md:flex-row gap-10 mb-28;
}
.contact__image {
  @apply w-full md:max-w-[480px];
}
.contact__info {
  @apply flex flex-col justify-center items-start gap-6;
}
.info__title {
  @apply font-semibold text-xl text-gray-600;
}
.info__text {
  @apply text-gray-500;
}
